# Ignore node_modules if you want EAS to handle dependencies
node_modules/

# Ignore Windows temp/system folders
C:/Users/beti/AppData/
C:/Users/beti/AppData/Local/Packages/
C:/Users/beti/AppData/Local/Temp/

# Ignore other OS/system files
.DS_Store
Thumbs.db
